body { 
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn1-3{

    margin-right: 15px;


}

.btn-0 {

width: 157px;
height: 70px;
font-size: 24px;

border-radius: 30px;
}

.btn-decimal{

margin-left: 13px;;

}

.btn-equal {

    margin-left: 15px;;


}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.rcorners1 {
    border-radius: 25px;
  
}

.calculator-body{

background: #222222;
width: 400px;
height: 743px;

}

.center {
    margin: auto;
  
}


.digits {

color: white;

}

.spacer {

margin-bottom: 160px;

}